extends layout

block content
    .container.scrollable
        h1= user.username

        table.gamelog-table
            thead
                tr
                    th #
                    th(colspan=2) 플레이시간
                    th 점수
            tbody
                each log in logs
                    tr(onclick="javascript:viewGameLog(" + log.gameid + ");")
                        td= log.gameid
                        td= formatTime(log.created_at)
                        td= formatTime(log.updated_at)
                        td= log.score

    #gameLogModal.modal.modal-fixed-footer
        .modal-content
        .modal-footer
            button.modal-action.modal-close.waves-effect.waves-green.btn-flat 나가기
            a.btn-flat.waves-green.waves-effect(target='blank') 새 창에서 열기
