@import "materialize/materialize";

@import "includes/layout";
@import "includes/chatbox";
@import "includes/game";
@import "includes/gamelog";

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #666;

}

body {
  font: 14px "Roboto", "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

// For range control
.thumb.active {
  pointer-events: none;
}

.scrollable {
  max-height: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
